{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Service</title>

    <link rel="stylesheet"  href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/web/web_base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>

</head>
<body>
    <img src="{% static 'images/background.png' %}" class='auth_background' alt="auth background">
    <header class="header">
        

        <div class="header__logo">
            <img src="{% static 'images/logo.png' %}" alt="Logo img">
        </div>
        {% block menu %}
            <nav class="middle-menu">

                <ul class ="menu">
                    <li class="middle-menu__list">
                        <a href="{% url 'home page' %}" ><i class="fas fa-home"></i></a>
                    </li>
                    {% if user.is_authenticated %}
                        <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
                        {% if user.is_customer %}
                            <li class="middle-menu__list">
                                <a href="{% url 'garage' %}" ><i class="fas fa-warehouse"></i></a>
                            </li>
                        {% else %}
                        <li class="middle-menu__list">
                            <a href="{% url 'service home page' %}" ><i class="fas fa-warehouse"></i></a>
                        </li>
                        {% endif %}
                    {% endif %}
                    <li class="middle-menu__list">
                        <a href="" ><i class="fas fa-images"></i></a>
                    </li>
                    <li class="middle-menu__list">
                        <a href="{% url 'contacts' %}" ><i class="fas fa-address-card"></i></a>
                    </li>
                </ul>
            </nav>
        {% endblock %}
        <section class="auth_system">

            <ul class="auth_system__menu">
                {% if not user.is_authenticated %}
                        <div class="auth_content">
                            <a href="{% url 'singin page' %}" class="btn">Sing in</a>
                            <a href="{% url 'singup page' %}" class="btn">Sing up</a>
                        </div>

                {% else %}
                    <li >
                        <a href="{% url 'profile' %}" class="btn auth_system__links">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}" class="btn auth_system__links">
                            Logout
                        </a>
                    </li>
                {% endif %}
            </ul>
        </section>
    </header>
    <main class='main__content'>
        <section class="hero">
            {% block cover_car %}
                <img src="{% static 'images/hero.png' %}" alt="">
            {% endblock  %}
            {% block content %}
            {% endblock %}
        </section>
    </main>

        
    {% block footer %}
        <section class="brands">
            <div class="items">
                {% if cars %}
                    {% for car in cars %}
                        <img src="{% static 'images/car_brands/' %}{{ car.image }}" alt="{{ car.brand }}" class="brands__logo">
                    {% endfor %}
                {% endif %}
            </div>
        
        </section>
    {% endblock %}

{% block script %}
{% endblock  %}
</body>
</html>