{% extends 'web/base.html' %}
{% load static %}

{% block content %}
    {% block cover_car %}
    {% endblock %}
    <div class="garage__page">

        <section class="title__content">
            <h1 class="title__content__title">Your Garage</h1>
            <a id="button-add" class="button-add" href="{% url 'customer add car page' %}">Add Car<i id="add-hover" class="fas fa-plus"></i></a>
        </section>

        <section class="garage__page__cars">
            {% if not cars %}
                <h3>There not have cars</h3>
            {% else %}
                {% for car in cars %}
                    <div class="cards col-md-{{ car.pk }}">
                        <div class="card card-{{ car.pk }}">
                            {% if car.repair %}
                                <a href="{% url 'car process page' car.pk %}" onclick='carQueue({{ car.pk }});'><i class="card-notify-repair fas fa-tools"></i></a>
                            {% endif %}
                            <div class="card-front">
                                <div class="card-image">
                                    {% if car.brand.get_image %}
                                        <img class="img-fluid" src="{% static 'images/car_brands/' %}{{ car.brand.get_image }}" alt="{{ car.img.brand }}" />
                                    {% else %}
                                        <img class="img-fluid" src="{% static 'images/car_brands/default_car.png' %}" alt="Default car" />
                                    {% endif %}
                                </div>

                                <div class="card-body text-center">
                                    <div class="ad-title m-auto">
                                        <h5>{{ car.model }}</h5>
                                        <div class="card-image-overlay m-auto">
                                            {% if car.kilometers %}
                                                <span class="card-detail-km">{{ car.kilometers }} km</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <a class="edit-btn" onclick='rotateCarCard({{ car.pk }}, "{% url "car" car.pk %}");'>Details</a>
                                </div>
                            </div>
                            <div class="card-back">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </section>
    </div>
{% endblock  %}


{% block script %}

<script type="text/javascript">
    const auth_content  = document.querySelector('.auth_system');
    auth_content.style.display = 'none';

    const getDetails = (url) =>
        fetch(url)
        .then(data => data.json())



    rotateCarCard = (pk, url) => {
        const card = document.querySelector(`.card-${pk}`)
        const cardBackContent = document.querySelector(`.col-md-${pk} > .card > .card-back`)
        const cardFront = document.querySelector(`.col-md-${pk} > .card > .card-front`)

        getDetails(url).then(
            data => {
                models =  data.model ? data.model : "Missing Data";
                years = data.year ? data.year : "Missing Data";
                vins = data.VIN ? data.VIN : "Missing Data";
                kilometers = data.kilometers ? data.kilometers : "Missing Data";




                cardBackContent.innerHTML = `
                    <h2>Model: ${models}</h2>
                    <p>Year: ${years}</p>
                    <p>VIN: ${vins}</p>
                    <p>Kilometers: ${kilometers}</p>
                    <div class='card_action_btn'>
                        <a class="edit-btn" onclick="BackrotateCarCard('col-md-${pk}', ${pk});">Back</a>
                        <a class="edit-btn" href="delete/${pk}">Delete</a>
                    </div>
                    
                `
                if (data.have_history) {
                    car_btn = document.querySelector('.card_action_btn')
                    car_btn.innerHTML += `
                        <a class="edit-btn" href="/garage/history/${pk}">History</a>
                    `
                }
            
                card.style.cssText = `
                    transform: rotateY(-180deg);
                `
                cardFront.style.cssText = `
                    display: none;
                `
                cardBackContent.style.cssText = `
                    transform: rotateY(180deg);
                    display: block;
                `
            }
        )
    }    

    BackrotateCarCard = (cardId, pk) => {
        const card = document.querySelector(`.card-${pk}`)
        const cardBackContent = document.querySelector(`.${cardId} > .card > .card-back`)
        const cardFront = document.querySelector(`.${cardId} > .card > .card-front`)
        card.style.cssText = `
            transform: none;
        `
        cardBackContent.style.cssText = `
            display: none;
            transform: none;
        `
    
        cardFront.style.cssText = `
            display: block;
        `
    }

</script>
{% endblock  %}

{% block brands %}
{% endblock  %}