{% extends 'web/base.html' %}
{% load static %}
{% block content %}
    {% block cover_car %}
    {% endblock %}
    <section class="pofile__data">        
        <h1 class='title__content__title'> Your Profile data</h1>
        <form method="POST" action="{% url 'profile' %}">
            {% for field in form_profile %}
                
            <div class="form-control">
                {% if field.errors %}
                    <div class="error"><p>{{ field.errors }}</p></div>
                {% endif %}
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
            {% csrf_token %}
            <section class="profile-btn">
                <input type="submit" value="Save" class="btn-submit"></input>
                <a href='{% url 'change password page' %}' class="btn-submit">Change password</a>
            </sction>
        </form>
    </section>
{% endblock  %}

    {% block script %}
        <script type="text/javascript">
            const auth_content  = document.querySelector('.auth_system');
            auth_content.style.display = 'none';
        </script>
    {% endblock  %}

{% block footer %}
{% endblock  %}