{% extends 'customer/new-base.html' %}
{% load static %}

{% block content %}
    {% block cover_car %}
    {% endblock  %}
    <section class="car__hisotry">
        <h1 class='title__content__title' >Car Hisotry</h1>
        {% if history %}
        <div class="container">
            <table class="history__table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Invoice number</th>
                        <th>Kilometers</th>
                        <th>Total Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in history %}
                        <tr>
                            <td>{{ row.date }}</td>
                            <td>№ {{ row.number }}</td>
                            <td>{{ row.kilometers }} km</td>
                            <td>{{ row.total_price }}</td>
                            <td><a class="btn__action" onClick="genereateInvoice({{ row.number }});">Invoice</a>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </section>

    <section id="popup1" class="overlay">
        <div class="popup">
            <a class="close" onClick="closePopUp();">&times;</a>
            <div class="content">       
            </div>
        </div>
    </section>

{% endblock  %}

{% block footer %}
{% endblock %}