{% extends 'customer/new-base.html' %}
{% load static %}

{% block content %}
    {% block cover_car %}
    {% endblock %}
    <div class="garage__page">

        <section class="title__content">
            <h1 class="title__content__title">Your Garage</h1>
            <a href="{% url 'customer add car page' %}"><i class="fas fa-plus"> Add Car</i></a>
        </section>

        <section class="garage__page__cars">
            {% if not cars %}
                <h3>There not have cars</h3>
            {% else %}
                {% for car in cars %}
                    <div class="cards col-md-{{ car.pk }}">
                        <div class="card card-{{ car.pk }}">
                            {% if car.repair %}
                                <a href="{% url 'car process page' car.pk %}" onclick='carQueue({{ car.pk }});'><i class="card-notify-repair fas fa-tools"></i></a>
                            {% endif %}
                            <div class="card-front">
                                <div class="card-image">
                                    {% if car.brand.get_image %}
                                        <img class="img-fluid" src="{% static 'images/car_brands/' %}{{ car.brand.get_image }}" alt="{{ car.img.brand }}" />
                                    {% else %}
                                        <img class="img-fluid" src="{% static 'images/car_brands/default_car.png' %}" alt="Default car" />
                                    {% endif %}
                                </div>

                                <div class="card-body text-center">
                                    <div class="ad-title m-auto">
                                        <h5>{{ car.model }}</h5>
                                        <div class="card-image-overlay m-auto">
                                            {% if car.kilometers %}
                                                <span class="card-detail-km">{{ car.kilometers }} km</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <a class="edit-btn" onclick="rotateCarCard('col-md-{{ car.pk }}', {{ car.pk }});">Details</a>
                                    {% comment %} <a class="delete-btn" href="{% url 'car details page' car.pk %}">Delete</a> {% endcomment %}
                                </div>
                            </div>
                            <div class="card-back">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </section>
    </div>
{% endblock  %}

{% block footer %}
{% endblock  %}