{% extends 'customer/new-base.html' %}
{% load static %}

{% block content %}

        <sidebar class="sidebar">
            <nav class="navigation">
                <ul>
                    <li class="navigation__list">
                        <a href="{% url 'home page' %}" class="navigation__links navigation__home"><i class="fas fa-home"> Home</i></a>
                    </li>
                    {% if user.is_authenticated %}
                        <script type="text/javascript" src="{% static 'js/base.js' %}"></script>

                        <li class="navigation__list">
                            <a href="{% url 'garage' %}" class="navigation__links navigation__garage"><i class="fas fa-warehouse"> Garage</i></a>
                        </li>
                    {% endif %}
                    <li class="navigation__list">
                        <a href="" class="navigation__links navigation__gallery"><i class="fas fa-images"> Gallery</i></a>
                    </li>
                    <li class="navigation__list">
                        <a href="{% url 'contacts' %}" class="navigation__links navigation__contacts"><i class="fas fa-address-card"> Contacts</i></a>
                    </li>
                </ul>
            </nav>
        </sidebar>
   
{% endblock %}
    

