{% extends 'customer/new-base.html' %}
{% load static %}
{% block content %}
    {% block cover_car %}
    {% endblock %}
    <section class="pofile__data">

        <a href="{% url 'garage' %}" class="back"><i class="fas fa-arrow-alt-circle-left"></i></a> 
        
        <h1> Your Profile data</h1>
        <form method="POST" action="{% url 'profile' %}">
            {{ form_profile.as_div }}
            {% csrf_token %}
            <input type="submit" value="Save" class="sub"/>
        </form>
    </section>
{% endblock  %}
{% block footer %}
{% endblock  %}