{% extends 'service/base.html' %}

{% block main %}
    <form class="adding__from" method="POST" action="{% url 'add car page' %}">
        <h2>Add Car Form</h2>
        {% if form.errors %}
            {% for field in form %}
                {{ field.errors }}
            {% endfor %}
        {% endif %}

        {% for field in form %}
            <div class="form-control">
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}
        {% csrf_token %}
        <button>Add Car</button>
    </form>
{% endblock  %}