{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service</title>
    <link rel="stylesheet"  href="{% static 'css/reset.css' %}">
    <link rel="stylesheet"  href="{% static 'css/service/service_base.css' %}">
    <link rel="stylesheet"  href="{% static 'css/service/service.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    
    <header class="header">
        <a href="{% url 'service home page' %}"><img src="{% static 'images/logo.png' %}" alt="Logo img"  class="logo"></a>

        <div class="auth_system">
            <ul>
                <li class="profile">
                    <img src="{% static 'images/user.png' %}" alt="user img" class="navigation__icons">
                    <ul class="profile-settings">
                        <li class="profile-settings-row"><a href="{% url 'employee profile' user.pk %}">Profile</a></li>
                        {% if user.is_authenticated %}
                            <li class="profile-settings-row"><a href="{% url 'logout' %}">Logout</a></li>
                        {% endif %}
                        
                    </ul>
                </li>
       
            </ul>
        </div>
    </header>

    <aside class="sidenav open">
        <div class="sidebar-header">
            <a href="#" class="toggle-sidebar" onclick= "closeSideBar();">
              <i class="fas fa-chevron-left"></i>
            </a>
        </div>
        <nav class="navitaion" >
            <ul>
                {% if perms.service_app.add_cars or  user.is_superuser %}
                    <li><a href="{% url 'car queue' %}" onClick="updateStatus();"><img src="{% static 'images/car_queue.png' %}" alt="car_queue img" class="navigation__icons"></a></li>
                    <li><a href="{% url 'cars' %}"><img src="{% static 'images/cars.png' %}" alt="cars img" class="navigation__icons"></a></li>
                    <li><a href="{% url 'customers page' %}"><img src="{% static 'images/customers.png' %}" alt="customer img" class="navigation__icons"></a></li>
                {% else %}
                    <li><a href="{% url 'car queue' %}"><img src="{% static 'images/car_queue.png' %}" alt="car_queue img" class="navigation__icons"></a></li>
                {% endif %}
            </ul>
        </nav>
    </aside>
   
    <main class="main">
        {% block main %}
        {% endblock  %}
    </main>

{% block script %}
{% endblock  %}
{% block script_sidenav %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {

            closeSideBar = () => {
                const sidebar = document.querySelector('.sidenav');
                const arrow = document.querySelector('.fa-chevron-left');
                
                console.log(sidebar.className.includes("open"))
                if (sidebar.className.includes("open")) {
                    sidebar.classList.remove('open');
                    sidebar.classList.add("close");
                    arrow.style.transform = "rotate(180deg)"
                    
                }
                else {
                    sidebar.classList.remove('close');
                    sidebar.classList.add("open");
                    arrow.style.transform = "rotate(360deg)"
                    
                }
                
            };
        });
    </script>
{% endblock  %}
</body>
</html>