{% extends 'service/base.html' %}

{% block main %}
    <h1>Cars</h1>
    <section class="container-table">
        <div class="service__btn__add">
            <a href="{% url 'add car page' %}" class="btn__action service_add">Add car</a>
        </div>
            <table class="cars">
                <tr>
                    <th>Model</th>
                    <th>Registration Number</th>
                    <th>VIN</th>
                    <th>Actions</th>
                </tr>
                {% for car in cars %}
                    <tr id="{{ car.pk }}">
                        <td>{{ car.model }}</td>
                        <td>{{ car.registration_number }}</td>
                        <td>{{ car.VIN }}</td>
                        <td>
                            <a class="btn__action details"{% comment "url for detail" %}href="{% url 'car detail' car.pk %}"{% endcomment %}>Detail</a>
                            <a class="btn__action delete"{% comment "url for delete" %}href="{% url 'car detail' car.pk %}"{% endcomment %}>Delete</a>
                            {% if not car.repair %}
                                <a class="btn__action move" href="{% url 'add car in queue' car.pk %}">Move to Repair</a>
                                {% for done in car_done %}
                                    {% if done.status == "Done" and done.car_id.pk == car.pk %}
                                        <a class="btn__action history" href="{% url 'add car history' car.pk %}">Fill History</a>
                                    {% endif %} 
                                {% endfor %}
                            {% endif %}
                        </td>

                    </tr>
                    
                {% endfor %}
            </table>
    </section>
{% endblock  %}