{% extends 'auth/base_auth.html' %}

{% block title %}Sing In Page{% endblock  %}

{% block contant %}
    <div class="login-box">
        <h2>Login</h2>
        <form method="POST" action = "{% url 'singin page' %}">
            {{ form.non_field_errors  }}
            
            {% for field in form %}
                <div class="user-box">
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            {% csrf_token %}


            <input type="submit" value="Login" class="login__btn" />
        </form>
    </div>
{% endblock %}