.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 50px;
    background-color: #434c5f;

}

.sidenav {
    grid-area: sidenav;
    background-color: #dad7d8;
    max-width: 60px;

}

.main {
    grid-area: main;
    text-align: center;
    padding: 0px 20px 0px 20px;
}
  
body {
    display: grid;
    grid-template-areas: 
    "header header header "
    "sidenav main main"
    "sidenav main main";
    width: 100%;
    height: 100vh;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 60px 1fr;
}



.header > img {
    width: 120px;
}

.auth_system > ul > li {
    list-style: none;
}


.navitaion > ul{
    padding-left: 10px;
}
.navitaion > ul > li {
    list-style: none;
    margin-bottom: 15px;
}

.navigation__icons {
    width: 40px;
    color: blue;
    cursor: pointer;
    margin-right: 10px;
}


