.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #434c5f;

}


.sidenav {
    background-color: #dad7d8;
    max-width: 85px;
    position: fixed;
    width: 100px;
    animation: slideIn 0.5s;
    z-index: 99;
    transition: left 0.5s;
    top: 51px;
    height: 100%;
    padding: 6px;

}

.sidenav .toggle-sidebar {
    color: black;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    margin: 55px;
  }

.sidenav.open {
    left: 0;
}
  
.sidenav.close {
    left: -55px;
}

.main {
    grid-area: main;
    text-align: center;
    padding: 0px 20px 0px 20px;
}
  
body {
    display: grid;
    grid-template-areas: 
    "header header header "
    "sidenav main main"
    "sidenav main main";
    width: 100%;
    height: 100vh;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 60px 1fr;
}



.header > img {
    width:70px;
}

.auth_system > ul > li {
    list-style: none;
}


.navitaion > ul{
    padding-left: 10px;
}
.navitaion > ul > li {
    list-style: none;
    margin-bottom: 15px;
}

.navigation__icons {
    width: 40px;
    color: blue;
    cursor: pointer;
    margin-right: 10px;
}


