.container-table{
  padding: 33px 30px;
}

.cars, .customer {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
.cars td, .cars th,
.customer td, .customer th {
    padding: 16px;

}
  
.cars tr:nth-child(even),
.customer tr:nth-child(even){
    background-color: #f2f2f2;
}

.cars tr:hover,
.customer tr:hover{
    background-color: #ddd;
}

.cars th,
.customer th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #36304a;
  color: white;
}

.choice__filed {
    border: 1px solid #777;
    border-radius: 8px;
    font-family: inherit;
    padding: 8px;
    text-align: center;
}
.btn__action {
    border: 2px solid black;
    border-radius: 20px;
    padding: 6px 8px;
    margin: 2px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.details:hover {
    background-color: darkgoldenrod;
}

.delete:hover {
    background-color: red;

}

.move:hover {
    background-color: darkslategrey;
}

.history:hover {
    background-color: cornflowerblue;
}

/* Form style */

.adding__from {
    background-color: #fff;
    max-width: 500px;
    margin: 30px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}
.adding__from h2 {
    text-align: center;
}

/* Styling form-control Class */
.form-control {
    text-align: left;
    margin-bottom: 20px;
}

/* Styling form-control Label */
.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* Styling form-control input,
select, textarea */

.form-control input,
.form-control select,
.form-control textarea
.form-control p{
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 8px;
    display: block;
    width: 95%;
    margin-bottom: 10px;
}

/* Styling form-control Radio
button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

/* Styling Button */
button {
    background-color: #0b9b58;
    border: 1px solid #777;
    border-radius: 12px;
    font-family: inherit;
    font-size: 20px;
    display: block;
    width: 50%;
    margin-top: 27px;
    margin-bottom: -14px;
    margin: 20px auto;
    cursor: pointer;
}

button:hover {
    background-color: #05c46b;

}

.service__btn__add {
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.service_add:hover {
    background-color: rgba(124, 2, 42, 0.2);
}

/* Car Details popUp  */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    display: none;

}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

  
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 70%;
}

.close {
    cursor: pointer;
}

.sort {
    cursor: pointer;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
