{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not Found</title>
    <link rel="stylesheet" href="{% static 'ccs/404.css' %} ">
</head>
<body>
    <section class="notFound">
        <div class="img">
        <img src="{% static 'images/backToTheHomepage.webp' %}" alt="Back to the Homepage"/>
        <img src="{% static 'images/delorean.webp' %}" alt="El Delorean, El Doc y Marti McFly"/>
        </div>
        <div class="text">
        <h1>404</h1>
        <h2>PAGE NOT FOUND</h2>
        <h3>BACK TO HOME?</h3>
        <a href="{% url 'home page' %}" class="yes">YES</a>
        <a href="https://www.google.bg">NO</a>
        </div>
    </section>
</body>
</html>

