@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


html, body {
    margin: 0;
    height: 100%;
}


body {
    background-color: #ebebeb;
    display: grid;

}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 55px 0pc 0px 0px;
}

.header__logo {
    padding-right: 300px;
    clip-path: polygon(0px 0px, 88% 0px, 71.67% 100.00%, 0% 100%);
    z-index: 95;
    background: #e3e3e3;
    margin-left: -25px;
    padding-left: 80px;
    padding-bottom: 19px;
    padding-top: 19px;

}

.header__logo > img {
    width: 280px;
    height: 124px;
    
}

.auth_background {
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 100%;
}

.navigation > ul{
    padding-left: 10px;

}

.navigation__list {
    font-size: 40px;
    list-style: none;
    margin-bottom: 60px;
    display: block;
    text-transform: uppercase

}


.navigation {
    position: absolute;
    top: 90px;
    right: 23px;
    width: 343px;
}


.navigation__links {
    font-family: 'Acme', sans-serif;
    text-decoration: none;
    color: whitesmoke;
    
}

.navigation__links:hover {
    color: #31658d;
}


.navigation__home {
    margin-left: 50px;
}

.navigation__gallery {
    margin-left: -50px;
}

.navigation__contacts {
    margin-left: -120px;
}

.auth_system__menu {
    display: flex;
    list-style: none;
}

.auth_system__links:hover {
    color: rgb(214, 71, 95);
}


.main__content {
    margin: 15px 0px 0px 0px;
    margin-top: -400px;
}

.hero {
    position: relative;
    width: 100%;
    height: 400px;

}

/* .hero > h1 {
    font-family: 'Acme', sans-serif;
    position: relative;
    z-index: 100;
    top: 350px;
    font-size: 50px;
    text-align: center
} */

.hero > img {
    position: absolute;
    margin-top: 46px;
    width: 100%;
    height: 150%;
    object-fit: cover;
    z-index: 97;
}

.sidebar {
    position: absolute;
    z-index: 98;
    top: 46px;
    right: 0px;
    background: rgba(0, 0, 0, 0.5);
    width: 800px;
    height: 600px;
    clip-path: polygon(50.07% -2px, 100% 0px, 100% 100%, 1.21% 99.49%);
    
}




/* Buttons */


.btn {
    font-size: 20px;
    text-align: center;
    display: inline-block;
    padding: 15px 40px;
    border: 1px solid #4d99e3;
    border-radius: 20px;
    cursor: pointer;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    margin: 0 20px;
    text-decoration: none;
    color: white;
    background-color: #31658d;
}

.btn:before {
  content: "";
  position: absolute;
  height: 150px;
  width: 50px;
  background : #fff;
  left: -55px;
  top: -40px;
  transform: rotate(37deg);
  transition: all .5s;
  opacity: 0.3;
}

.btn:hover:before {
  left:95%;
}



/* Another pages */

.pofile__data, .content__car__detials, .content__add__car{
    margin: 130px 15px 0px 0px;
    text-align: center;
    border-radius: 5px;
    padding: 30px 40px 60px 40px;

}

form, .details{
    position: relative;
    width: 60%;
    text-align: right;
}

.field, .brands {
    text-align: center;
    width: 30%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.fas {
    margin-right: 10px;
}


.pofile__data {
   position: relative;
}

/* .pofile__data::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url('../../images/check-engine-light.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   opacity: 0.5;
} */
/* .btn {
    text-decoration: none;
    color: #000;
    border: 2px solid #e6de08;
    border-radius: 20px;
    padding: 10px 14px;
    backgro und-color: #e6de08;
}


.btn:hover {
    background: transparent;
    
}

input[type=submit], .btn {
    margin: 10px 0px 10px 0px;
    position: absolute;
    left: 82%;
} */

.blur{
    background: rgba(0, 0, 0, 0.7);
}

.blur > img {
    position: absolute;
    z-index: -10;
    top: 160px;
}



.brands {
    width: 99%;
    position: absolute;
    z-index: 100;
    bottom: 29px;
    height: 171px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    overflow: hidden;
    background:rgba(255, 255, 255, 0.40);
    
}

.items {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    color: black;
    animation: mymove 30s linear infinite ;
    width: 3160px;
    
}
@keyframes mymove {
    from   {right:  -1900px;}    
    to  {right:  1900px;}    
}

.brands__logo {
    width: 160px;
    height: 120px;
}




/* Contacts page */

.contacts{
    position: absolute;
    z-index: 98;
    top: 46px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}


.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    z-index: 98;
    color: bisque;
    position: relative;
    top: 120px;
}

.contact {
    font-size: 200px;
    padding: 50px;
    
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;


}

.flip-card-front {
    color: rgb(187, 190, 192);
    background-color: rgba(49, 101, 141, 0.7);

}

.flip-card-back {
    background-color: rgba(49, 101, 141, 0.9);
    color: white;
    transform: rotateY(180deg);
}